<!DOCTYPE html>
<html>
    
    <%- include('../partials/head.ejs') %>
    
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12" id="banner">
                    <h3> Precio: $<%=  productos.precioUnitario  %></h3>  
                </div>
            </section>
            <section class="row">
                <div class="productos">
                        <article class="col-6" id="art2">
                            <h1><%=  productos.nombre  %></h1>
                            <p class="description">Descripción: <%=  productos.descripcion  %></p>
                            <form action="carrito" method="POST">
                                <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
                            </form>
                        </article>
                        <article class="col-6" id="art3">
                            <img src="<%= productos.foto %>" alt="pdto 01">
                        </article>
                </div>
            </section> <br>
        </div>
        <%- include('../partials/scripts.ejs') %>
    </body>
    </html>
</html>
