<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
<div class="container">
            <div class="row">
		<div class="col">
                    <h2 class="encabezado">Administrar Productos</h2>     
			
			<a href='/formProducto'><button>Agregar</button></a>
		              
        
		<table>
		<thead>
			<tr>
			<th>Categoria </th>
			<th>Nombre </th>
			<th>Descripcion </th>
			<th>Precio Unitario </th>
			</tr>
		</thead>

		<tbody>
		<% productos.id.forEach(producto => {%>
			<tr>
			<td><%= producto.categoria %> </td>
			<td><%= producto.nombre %> </td>
			<td><%= producto.descripcion %> </td>
			<td><%= producto.precioUnitario %> </td>
			<td>
			<form action="/adminProductos/<%=producto.id%>?_method=editarProducto" method="post">
			<button>Editar</button>
			</form>
			</td>
			<td>
			<form action="/adminProductos/<%=producto.id%>?_method=eliminarProducto" method="post">
			<button>Borrar</button>
			</form>
			</td>
			</tr>
		<% }) %>
	
		</tbody>

		</table>


		</div>
	    </div>
</div>          
        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/scripts.ejs') %>
        
    </body>
</html>