<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
        <div class="row">
		<div class="col">
        <h2 class="encabezado">Carrito de Compra</h2>                    
        
		<table class="tabla">
		<thead>
			<tr>
			<th>Producto </th>
			<th>Cantidad </th>
			<th>Precio Unitario </th>
			</tr>
		</thead>

		<tbody>
			<% producto_carrito.forEach(prod => {%> 
				
			<tr>
			<td> <%= prod.prods.nombre %> </td>
			<td> 1 </td>
			<td> $<%= prod.precioUnitario %></td>
			<td>
				<form action="/carrito/<%=prod.productoId%>" method="POST">
				<button class="botones">Borrar</button>
				</form>	
			</td>
			</tr>
		
			<% }) %>
	
		<tr>
			<td></td>
			<td>Total</td>
			<td> </td>
			<td>
			
				<a href='../'><button class="botones">Comprar</button></a>
					
			</td>	
		</tr>

		</tbody>

		</table>

		</div>
	    </div>
	            




        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/scripts.ejs') %>
        
    </body>
</html>