<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <div class="row">
		<div class="col">
                    <h2 class="encabezado">Carrito de Compra</h2>                    
        
		<table>
		<thead>
			<tr>
			<th>Producto </th>
			<th>Cantidad </th>
			<th>Precio Unitario </th>
			</tr>
		</thead>

		<tbody>
		<% carrito.productos.forEach(producto => {%>
			<tr>
			<td><%= producto.nombre %> </td>
			<td><%= producto.producto_carrito.cantidad %> </td>
			<td><%= producto.producto_carrito.precioUnitario %> </td>
			<td>
			<form action="/carrito/<%=producto.id%>?_method=eliminarProducto" method="post">
			<button>Borrar</button>
			</form>
			</td>
			</tr>
		<% }) %>
	
		<tr>
			<td></td>
			<td>Total</td>
			<td> </td>
			<td>
			
			<button>Comprar</button>
			
			</td>	
		</tr>

		</tbody>

		</table>

		</div>
	    </div>
	            




        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/scripts.ejs') %>
        
    </body>
</html>