<!DOCTYPE html>
<html>
    
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs') %>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12" id="banner">
                    <h3><%= producto.precioUnitario %></h3>
                </div>
            </section>
            <section class="row">
                <div class="productos">
                        <article class="col-6" id="art2">
                            <h1><%= req.producto.nombre %></h1>
                            <p class="description"><%= req.producto.descripcion %></p>
                            <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
                        </article>
                        <article class="col-6" id="art3">
                            <img src="/images/manzanas.jpg" alt="manzanas">
                        </article>
                </div>
            </section> <br>
        </div>
        <%- include('partials/scripts.ejs') %>
    </body>
    </html>
</html>
