<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <form action="/users/perfil" method="post" class="form-perfil">
        <div class="form-group">
            <% if (typeof errors !== 'undefined') { errors.map(function(error) { %>
                
                <p><%error.msg %></p>
                <% })
                
            }%>
            <label for="">Ingrese su Nombre</label>
            <input type="text" name="name" class="form-control" 
                   value="<%= typeof data != 'undefined' ? data.name: '' %>"><br>
            <label for="">Ingrese su Apellido</label>
            <input type="text" name="first-name" class="form-control" 
                   value="<%= typeof data != 'undefined' ? data.first-name: '' %>"><br>
            <label for="">Ingrese su número de telefono</label>
            <input type="tel" name="telephone" class="form-control" 
                   value="<%= typeof data != 'undefined' ? data.telephone: '' %>"><br>
                   <div class="form-group">
            <label for="filename">Cambiar imagen de perfil</label>
            <input type="file" name="filename" class="form-control" style="border: none;">
        </div><br>
        <div class="form-group">
            <button class="btn btn-outline-success" ><a href="/" style="text-decoration:none; color: black;">Guardar</a></button>
        </div>
    </form>
    <%- include('partials/scripts.ejs') %>
</body>
</html>