<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    
<body>
    <%- include('partials/header.ejs') %>
    <form action="/users/register" method="post" class="form-register">
        <div class="form-group">
            <% if (typeof errors !== 'undefined') { errors.map(function(error) { %>
                
                <p><%error.msg %></p>
                <% })
                
            }%>
            <label for="">Registrese con su email</label>
            <input type="text" name="email" class="form-control" 
                   value="<%= typeof data != 'undefined' ? data.email: '' %>">
        </div><br>
        <div class="form-group">
            <label for="password">Ingrese una clave</label>
            <input type="password" name="password" class="form-control" 
            value="<%= typeof data != 'undefined' ? data.password: '' %>">
        </div><br>
        
        <div class="form-group">
            <label for="filename">Seleccione una imagen de perfil</label>
        <input type="file" name="filename" class="form-control" style="border: none;">
        </div><br>
        <div class="form-group">
            <button class="btn btn-outline-success" ><a href="/users/login" style="text-decoration:none; color: black;" >Registrarse</a></button>
        </div>
    </form>
    <%- include('partials/scripts.ejs') %>
</body>
</html>